.backgroundRu {
    font-family: sans-serif;
    margin: 0;
    background-image: url("images/regUser.jpg");
    /* Replace 'your-image-file.jpg' with the actual file name and path */
    background-size: cover;
    /* Ensures the image covers the entire background */
    background-repeat: no-repeat;
    /* Prevents image repetition */
    background-attachment: fixed;
    /* Fixes the background image, so it doesn't scroll with the content */
    background-position: center center;
    /* Centers the image horizontally and vertically */
}

.backgroundGu {
    font-family: sans-serif;
    margin: 0;
    background-image: url("images/GuestUser.jpg");
    /* Replace 'your-image-file.jpg' with the actual file name and path */
    background-size: cover;
    /* Ensures the image covers the entire background */
    background-repeat: no-repeat;
    /* Prevents image repetition */
    background-attachment: fixed;
    /* Fixes the background image, so it doesn't scroll with the content */
    background-position: center center;
    /* Centers the image horizontally and vertically */
}

.information {
    background-color: rgba(255, 255, 255, 0.5);
}

#regAll {
    margin: 0 30%;
}

.information {
    margin-bottom: 50px;
    border-radius: 10px;
}

.subInfo {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.regHeading {
    font-weight: bold;

}

.col {
    padding-bottom: 10px;
}

.nameInfo {
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.submitBtn1 {
    justify-content: center;
    display: flex;
    padding-top: 10px;
}

.HeadReg {
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

p.HeadReg {
    color: #B3A492;
    font-family: 'Playpen Sans', cursive;
}

.success-message {
    color: #900C3F;
    font-size: 20px;
    text-align: center;
}

.successCont {
    padding: 20px;
}

.submitBtn2 {
    position: relative;
    left: 190px;
    margin-top: 20px;
}