.background {
  font-family: sans-serif;
  margin: 0;
  background-image: url("images/plane4.jpeg"); /* Replace 'your-image-file.jpg' with the actual file name and path */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents image repetition */
  background-attachment: fixed; /* Fixes the background image, so it doesn't scroll with the content */
  background-position: center center; /* Centers the image horizontally and vertically */
}

.signup {
  background-color: rgba(255, 255, 255, 0.5);
}

.input-icons i {
  position: absolute;
}

.mr-auto {
  margin-left: auto;
}

.search {
  background-color: rgb(3, 69, 148);
}

.gray-background {
  background-color: rgb(239, 239, 239);
}

/* Footer */

.py-5 {
  padding: 30%;
  background-color: #001524;
  color: white;
}
.nav-item {
  color: #d0d4ca;
  font-size: 14px;
}
.nav-item:hover {
  color: #80b3ff;
}
.owner {
  background-color: #001524;
}

/* Register */

.information {
  background-color: rgba(255, 255, 255, 0.5);
}
#regAll {
  margin: 5% 30%;
}
.information {
  padding: 5% 10%;
  border-radius: 10px;
}
.subInfo {
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
}

.regHeading {
  font-weight: bold;
  padding-bottom: 15px;
}
.col {
  padding-bottom: 20px;
}
.nameInfo {
  padding-bottom: 10px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.submitBtn1 {
  float: right;
  margin-top: 20px;
}

.HeadReg {
  color: white;
  text-align: center;
}

/* Booking */

.searchHead {
  color: white;
}
.text-center {
  margin: 50px;
}

#flight-search-form {
  padding: 0 20% 5%;
}
.allrow {
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 7%;
}
.availableFlight {
  text-align: center;
  color: #fff6dc;
}

.submitBtn {
 position: relative;
 left: 380px;
  
}

/*payment*/

.paymentText {
  margin: 50px;
}
.card{
  background-color: rgba(255, 255, 255, 0.5) !important;
}

