.background {
  font-family: sans-serif;
  margin: 0;
  background-image: url("images/plane4.jpeg"); /* Replace 'your-image-file.jpg' with the actual file name and path */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents image repetition */
  background-attachment: fixed; /* Fixes the background image, so it doesn't scroll with the content */
  background-position: center center; /* Centers the image horizontally and vertically */
}

.signup {
  background-color: rgba(255, 255, 255, 0.5);
}

.input-icons i {
  position: absolute;
}

.mr-auto {
  margin-left: auto;
}

.search {
  background-color: rgb(3, 69, 148);
}

.gray-background {
  background-color: rgb(239, 239, 239);
}

/* Footer */

.py-5 {
  padding: 30%;
  background-color: #001524;
  color: white;
}
.nav-item {
  color: #d0d4ca;
  font-size: 14px;
}
.nav-item:hover {
  color: #80b3ff;
}
.owner {
  background-color: #001524;
}

/* Register */

.information {
  background-color: rgba(255, 255, 255, 0.5);
}
#regAll {
  margin: 5% 30%;
}
.information {
  padding: 5% 10%;
  border-radius: 10px;
}
.subInfo {
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
}

.regHeading {
  font-weight: bold;
  padding-bottom: 15px;
}
.col {
  padding-bottom: 20px;
}
.nameInfo {
  padding-bottom: 10px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.submitBtn1 {
  float: right;
  margin-top: 20px;
}

.HeadReg {
  color: white;
  text-align: center;
}

/* Booking */

.searchHead {
  color: white;
}
.text-center {
  margin: 50px;
}

#flight-search-form {
  padding: 0 20% 5%;
}
.allrow {
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 7%;
}
.availableFlight {
  text-align: center;
  color: #fff6dc;
}

.submitBtn {
 position: relative;
 left: 380px;
  
}

.FlightCardMap{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
#con{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/*payment*/

.paymentText {
  margin: 50px;
}
.card{
  background-color: rgba(255, 255, 255, 0.7) !important;
}

/* cards */

.cards{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: auto;
}

.card-img-top{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.flightCardTable{
  margin: 20px ;
  background-color: #EBF3E8;
  border-radius: 10px;
}
.flightCardTable tr th{
  padding: 5px 30px 0px 10px;
}
.flightCardTable tr td{
  padding-right: 10px;
}

/*Report*/

#reportHome{
  display: flex;
  padding: 50px;
  justify-content: center;
}

#reportProfile{
  background-color: rgba(255, 255, 255, 0.7) ;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 20px;
  
}

#reportButton{
  background-color: rgba(255, 255, 255, 0.7) ;
  margin: 10px 20px;
  padding: 30px;
  border-radius: 20px;

}

.btnAdmin{
  padding: 10px !important;
  margin: 10px !important;
}

#imgAdmin{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit:cover;
  margin-top: 50px;
  
}

.admincomp{
  
  justify-content: center !important;
  width: 50%;
  padding: 70px;
  background-color: rgba(255, 255, 255, 0.7) ;
}