.background {
  font-family: sans-serif;
  margin: 0;
  background-image: url("images/plane4.jpeg");
  /* Replace 'your-image-file.jpg' with the actual file name and path */
  background-size: cover;
  /* Ensures the image covers the entire background */
  background-repeat: no-repeat;
  /* Prevents image repetition */
  background-attachment: fixed;
  /* Fixes the background image, so it doesn't scroll with the content */
  background-position: center center;
  /* Centers the image horizontally and vertically */
}

.signup {
  background-color: rgba(255, 255, 255, 0.5);
}

.input-icons i {
  position: absolute;
}

.mr-auto {
  margin-left: auto;
}

.search {
  background-color: rgb(3, 69, 148);
}

.gray-background {
  background-color: rgb(239, 239, 239);
}


/* Footer */

.py-5 {
  padding: 30%;
  background-color: #001524;
  color: white;
}

.nav-item {
  color: #d0d4ca;
  font-size: 14px;
}

.nav-item:hover {
  color: #80b3ff;
}

.owner {
  background-color: #001524;
}

/*payment*/

.paymentText {
  margin: 50px;
}

.card {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

/* Home Screen */

.homecomp {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 10px 30% 20px;
}

.Homecontsub {

  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;


}

/*login */

.Loginbtn {
  display: flex;
  justify-content: center;
}

.loginregbtn {
  padding-right: 10px;
}

.logincomp {
  padding-bottom: 50px;
}

.home {
  padding: 20px 0px 50px 200px;
}

.title {
  color: white;
  font-weight: bold;
}

.titleTwo {
  color: white;
}

.titleThree {
  color: yellow;
}

.text {
  color: white;
  font-size: 2rem;
  padding-top: 10px;
}